#pragma code_page(65001)
#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,2,0
 PRODUCTVERSION 1,0,2,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DRV
 FILESUBTYPE VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "佛山市源点科技有限公司\0"
            VALUE "FileDescription", "源点恢复驱动\0"
            VALUE "FileVersion", "1.0.2.0\0"
            VALUE "InternalName", "CdpDriver.sys\0"
            VALUE "LegalCopyright", "Copyright © 2026 佛山市源点科技有限公司\0"
            VALUE "OriginalFilename", "CdpDriver.sys\0"
            VALUE "ProductName", "源点恢复\0"
            VALUE "ProductVersion", "1.0.2.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
